.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: #7289da;
    padding: 20px;
    color: #ffffff;
    width: 750px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px !important;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}
p {
    font-family: 'Montserrat', sans-serif;
    /*font-size: 75px;*/
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}
html {
    background: url('https://yodobi.com/4k-Wallpapers/4k-wallpapers-phone-Is-4K-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.img {
    width: 150px; height: 150px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 100%;
}